# Java generated
target/

# Developer environment setup
/resources/
/config/
*.patch

# Subversion
.svn

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.project
.settings
.classpath
*/maven-eclipse.xml

# Windows
Thumbs.db
*.lnk

# OSX
.DS_Store

# log files and temp dirs
/log/
cTAKES.error.log
/temp/
/tmp/

Web ARchives - built by ctakes
*.war

.factorypath
