/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#banner	
{
	background-color: #0e4d94;
	border-bottom: 1px solid #fff;
	width: 100%;
	color: white;
	padding-left: 10px;
	font-size: 38px;
	vertical-align: middle
}

#banner	table
{
	border: 0px;
	color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
}
	


#mainNav
{
	width: 100%;
	background-color: #c7511f;
	height: 25px
}

#mainNavSpace
{
	width: 100%;
	height: 10px
}


body {
    margin: 0;
    padding: 0;
}


#docText {
	padding-left: 10px;
}

