<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- spring bean in org.apache.ctakes.ytex.uima -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<!-- ensure that the above transactional advice runs for any execution of 
		an operation defined by the FooService interface -->
	<aop:config>
		<aop:pointcut id="mapperOperation" expression="execution(* org.apache.ctakes.ytex.uima.mapper.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="mapperOperation" />
	</aop:config>
	<bean id="ISO8601Converter" class="org.apache.ctakes.ytex.uima.mapper.ISO8601Converter"></bean>

	<bean id="documentMapperService" class="org.apache.ctakes.ytex.uima.mapper.DocumentMapperServiceImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="dataSource" ref="dataSource" />
		<property name="dialectClassName" value="${hibernate.dialect}" />
		<property name="dbSchema" value="${db.schema}" />
		<property name="dbType" value="${db.type}" />
		<property name="batchSize" value="${hibernate.jdbc.batch_size}" />
		<property name="annoMappingInfos">
			<set>
				<bean class="org.apache.ctakes.ytex.uima.mapper.AnnoMappingInfo">
					<property name="annoClassName" value="org.apache.ctakes.ytex.uima.types.Date" />
					<property name="tableName" value="anno_date" />
					<property name="columnMappingInfos">
						<set>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="date" />
								<property name="columnName" value="TSTAMP" />
								<property name="converter" ref="ISO8601Converter" />
								<property name="targetTypeName" value="java.sql.Timestamp" />
							</bean>
						</set>
					</property>
				</bean>
				<bean class="org.apache.ctakes.ytex.uima.mapper.AnnoMappingInfo">
					<property name="annoClassName"
						value="org.mipacq.annotation.type.CoreferenceRelation" />
					<property name="tableName" value="anno_link" />
					<property name="columnMappingInfos">
						<set>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="arg1" />
								<property name="columnName" value="parent_anno_base_id" />
								<property name="jxpath" value="argument/content" />
							</bean>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="arg2" />
								<property name="columnName" value="child_anno_base_id" />
								<property name="jxpath" value="argument/content" />
							</bean>
						</set>
					</property>
				</bean>
				<bean class="org.apache.ctakes.ytex.uima.mapper.AnnoMappingInfo">
					<property name="annoClassName"
						value="org.apache.ctakes.coreference.type.MarkablePairSet" />
					<property name="tableName" value="anno_link" />
					<property name="columnMappingInfos">
						<set>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="anaphor" />
								<property name="columnName" value="parent_anno_base_id" />
								<property name="jxpath" value="content" />
							</bean>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="antecedentList" />
								<property name="columnName" value="child_anno_base_id" />
								<property name="jxpath" value="feature" />
							</bean>
						</set>
					</property>
				</bean>
				<bean class="org.apache.ctakes.ytex.uima.mapper.AnnoMappingInfo">
					<property name="annoClassName"
						value="org.apache.ctakes.typesystem.type.textsem.MedicationEventMention" />
					<property name="tableName" value="anno_med_event" />
					<property name="columnMappingInfos">
						<set>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="medicationFrequency" />
								<property name="columnName" value="freqNumber" />
								<property name="jxpath" value="number" />
							</bean>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="medicationFrequency" />
								<property name="columnName" value="freqUnit" />
								<property name="jxpath" value="unit" />
							</bean>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="medicationStrength" />
								<property name="columnName" value="strengthNumber" />
								<property name="jxpath" value="number" />
							</bean>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="medicationStrength" />
								<property name="columnName" value="strengthUnit" />
								<property name="jxpath" value="unit" />
							</bean>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="medicationStatusChange" />
								<property name="columnName" value="change" />
								<property name="jxpath" value="value" />
							</bean>
							<bean class="org.apache.ctakes.ytex.uima.mapper.ColumnMappingInfo">
								<property name="annoFieldName" value="medicationDosage" />
								<property name="columnName" value="dosage" />
								<property name="jxpath" value="value" />
							</bean>
						</set>
					</property>
				</bean>
			</set>
		</property>
	</bean>
</beans>